{% load i18n static %}
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sloths Inventory{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    {% block extrastyle %}{% endblock %}
</head>
<body>
    <div id="container">
        <div id="content">
            {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block page_content %}{% endblock %}
        </div>
    </div>
</body>
</html> 