{% extends "common/base.html" %}
{% load i18n %}

{% block page_content %}
<h2>{% trans "Devices" %}</h2>
<div class="results">
    <table id="result_list">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Location" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ device.name }}</td>
                <td>{{ device.type }}</td>
                <td>{{ device.status }}</td>
                <td>{{ device.location }}</td>
                <td>
                    <a href="{% url 'device_update' device.pk %}" class="button">{% trans "Edit" %}</a>
                    <a href="{% url 'device_delete' device.pk %}" class="button">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 