{% extends "common/base.html" %}
{% load i18n %}

{% block page_content %}
<h2>{% if form.instance.pk %}{% trans "Edit Device" %}{% else %}{% trans "New Device" %}{% endif %}</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        {{ form.as_p }}
    </div>
    <div class="submit-row">
        <input type="submit" value="{% trans 'Save' %}" class="default" />
        <a href="{% url 'devices:device-list' %}" class="button">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %} 