{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Set New Password" %}{% endblock %}

{% block content %}
<div class="form-container">
    {% if validlink %}
        <h1>{% translate "Set New Password" %}</h1>
        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">{% translate "Change password" %}</button>
        </form>
    {% else %}
        <h1>{% translate "Password Reset Failed" %}</h1>
        <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
        <p><a href="{% url 'common:password_reset' %}">{% translate "Request new password reset" %}</a></p>
    {% endif %}
</div>
{% endblock %}
