{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Profile" %} - {% trans "Sloths Inventory" %}{% endblock %}

{% block heading %}{% trans "Profile" %}{% endblock %}

{% block content %}
<div>
    <!-- Password Change Section -->
    <section class="profile-section">
        <form method="post" class="form-container">
            {% csrf_token %}
<h2>{% trans "Password" %}</h2>
<h3 class="form-subtitle">{% trans "Change Password" %}</h3>
            {{ password_form.as_p }}
            <button type="submit" name="password_submit" class="button">{% trans "Change Password" %}</button>
        </form>
    </section>

    <!-- Email Change Section -->
    <section id="email" class="profile-section">
        <form method="post" class="form-container">
            {% csrf_token %}
<h2>{% trans "Email Address" %}</h2>
<p><label>{% trans "Current email:" %}</label></p>
{% if not user.email %}
<p><input type="email" value="{{ user.email }}" class="empty-email" readonly disabled></p>
{% else %}
<p><input type="email" value="{{ user.email }}" readonly disabled></p>
{% endif %}
            {{ email_form.as_p }}
            <button type="submit" name="email_submit" class="button">{% trans "Change Email" %}</button>
        </form>
    </section>
</div>

{% endblock %}
